{% extends 'base.html' %}
{% load static %}

{% block pageStyles %}
    <link href="{% static 'src/assets/css/light/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/dark/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/src/tomSelect/tom-select.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/css/light/tomSelect/custom-tomSelect.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/css/dark/tomSelect/custom-tomSelect.css' %}">
{% endblock pageStyles %}

{% block content %}
            <div class="container">
                <div class="container">

                    <!-- BREADCRUMB -->
                    <div class="page-meta">
                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Product</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- /BREADCRUMB -->

                    <div class="row mt-2">

                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Add Product</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area text-center">
                                    <form action="" id="product-form" data-unit-url="{% url 'ajax_load_unit' %}" novalidate>
                                        <input type="hidden" name="id" value="{{product.id}}" />
                                        <div class="row">
                                            <div class="col text-start">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" id="name" name="name" class="form-control" placeholder="Product Name" aria-label="Product Name" value="{{product.name}}">
                                            </div>
                                            <div class="col text-start">
                                                <label for="code" class="form-label">Code</label>
                                                <input type="text" id="code" name="code" class="form-control" placeholder="Product Code" aria-label="Product Code" value="{{product.code}}">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-start">
                                                <label for="brand" class="form-label ">Brand</label>
                                                <select id="brand" name="brand" class="form-select form-select-lg">
                                                    {% if product.brand %}
                                                    <option selected value="{{product.brand.pk}}">{{product.brand}}</option>
                                                    {% endif %}
                                                    <option value="">Choose...</option>
                                                    {% for item in brands %}
                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col text-start">
                                                <label for="package" class="form-label ">Package</label>
                                                <select id="package" name="package" class="form-select form-select-lg">
                                                    {% if product.package %}
                                                    <option selected value="{{product.package.pk}}">{{product.package}}</option>
                                                    {% endif %}
                                                    <option value="">Choose...</option>
                                                    {% for item in packages %}
                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-start">
                                                <label for="unit" class="form-label ">Unit Set</label>
                                                <select id="unit" name="unit" class="form-select form-select-lg">
                                                    {% if product.unit %}
                                                    <option selected value="{{product.unit.pk}}">{{product.unit}}</option>
                                                    {% endif %}
                                                    <option value="">Choose...</option>
                                                    {% for item in unit_sets %}
                                                    <option value="{{item.pk}}">{{item.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col text-start">
                                                <label for="value" class="form-label">Unit Value</label>
                                                <select id="value" name="value" class="form-select form-select-lg">
                                                    {% if product.value %}
                                                    <option selected value="{{product.value.pk}}">{{product.value}}</option>
                                                    {% endif %}
                                                    <option value="">Choose...</option>
                                                    {% for item in unit_values %}
                                                    <option value="{{item.pk}}">{{item.value}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-start">
                                                <label for="buy" class="form-label">Buy Price</label>
                                                <input type="text" id="buy" name="buy_price" class="form-control" placeholder="Buy Price" aria-label="Buy Price" value="{{product.buy_price}}">
                                            </div>
                                            <div class="col text-start">
                                                <label for="sell" class="form-label">Sell Price</label>
                                                <input type="text" id="sell" name="sell_price" class="form-control" placeholder="Sell Price" aria-label="Sell Price" value="{{product.sell_price}}">
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success mb-2 mt-3 btn-lg">Submit</button>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
{% endblock content %}

{% block pageScripts %}
    <script src="{% static 'src/plugins/src/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'src/assets/js/scrollspyNav.js' %}"></script>

    <script src="{% static 'src/plugins/src/tomSelect/tom-select.base.js' %}"></script>
    <script src="{% static 'src/plugins/src/tomSelect/custom-tom-select.js' %}"></script>
    <script>
      $(function () {
        $("#product-form").submit(function (e) {
          e.preventDefault();
          var _this = $(this);
          $(".err-msg").remove();
          var el = $("<div>");
          el.addClass("alert alert-danger err-msg");
          el.hide();
          if (_this[0].checkValidity() == false) {
            _this[0].reportValidity();
            return false;
          }

          $.ajax({
            headers: {
              "X-CSRFToken": "{{csrf_token}}",
            },
            url: "{% url 'save-product' %}",
            data: new FormData($(this)[0]),
            cache: false,
            contentType: false,
            processData: false,
            method: "POST",
            type: "POST",
            dataType: "json",
            error: (err) => {
              console.log(err);
              alert("An error occured", "error");
              end_loader();
            },
            success: function (resp) {
              if (typeof resp == "object" && resp.status == "success") {
                location.href = "{% url 'product-page' %}";
              } else if (resp.status == "failed" && !!resp.msg) {
                el.text(resp.msg);
              } else {
                el.text("An error occured", "error");
                end_loader();
                console.err(resp);
              }
              _this.prepend(el);
              el.show("slow");
              $("html, body, .modal").scrollTop(0);
              end_loader();
            },
          });
        });
      });
    </script>
    <script>
        // Select Box

        new TomSelect("#unit",{
            create: false,
            sortField: {
                field: "text",
                direction: "asc",
            }
        });

        new TomSelect("#brand",{
            create: false,
            sortField: {
                field: "text",
                direction: "asc",
            }
        });

        new TomSelect("#package",{
            create: false,
            sortField: {
                field: "text",
                direction: "asc",
            }
        });

        $('#value').select2({
            width: "100%",
            selectionCssClass: "form-control form-control-sm"
        })

        // this one is for fetching unit value data
        $("#unit").change(function () {
          var url = $("#product-form").attr("data-unit-url");
          var unitId = $(this).val();

          $.ajax({
            url: '{% url 'ajax_load_unit' %}',
            data: {
              'unit': unitId
            },
            success: function (data) {
              $("#value").html(data);
            }
          });

        })
    </script>
{% endblock pageScripts %}