{% extends "base.html" %}
{% load static %}

    {% block pageStyles %}
    <link href="{% static 'src/plugins/src/apex/apexcharts.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/light/components/list-group.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/light/dashboard/dash_2.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'src/assets/css/dark/components/list-group.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/dark/dashboard/dash_2.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'src/assets/css/dark/card.css' %}" />
    {% endblock pageStyles %}


      {% block content %}
      <div class="layout-px-spacing">
          <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
              <div
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
              >
                <div class="widget widget-chart-one">
                  <div class="widget-heading">
                    <h5 class="dancing">Welcome to Eque Heritage Hotel And Resort</h5>
                      <h5 class="">Dashboard</h5>
                  </div>
                </div>

                  <div class="row mt-4 mb-2">
                    <div class="col">
                        <a href="#" class="card yellow">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{products}}</p>
                          </div>
                          <p class="text-center">Total Product</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="card pastel-green">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{available}}</p>
                          </div>
                          <p class="text-center">Total Stock</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="card blue-gray">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{sell}}</p>
                          </div>
                          <p class="text-center">Today Sell</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="card blue-hosta">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{month_sell}}</p>
                          </div>
                          <p class="text-center">Month Sell</p>
                        </a>
                    </div>
                  </div>

                  <div class="row mt-2">
                    <div class="col">
                        <a href="{% url 'low-stock' %}" class="card blue-lagoon">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{count}} <br> see list...</p>
                          </div>
                          <p class="text-center">Low Stock</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#" class="card light-blue">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{due}}</p>
                          </div>
                          <p class="text-center">Today Due</p>
                        </a>
                    </div>
                      <div class="col">
                        <a href="#" class="card purple">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">{{short}}</p>
                          </div>
                          <p class="text-center">Month Due</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'client-report' %}" class="card peach">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">see report...</p>
                          </div>
                          <p class="text-center">Sell Report</p>
                        </a>
                    </div>
                  </div>

                  <div class="row mt-2">

                    <div class="col-3">
                        <a href="{% url 'purchase-report' %}" class="card brown">
                             <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">see report...</p>
                          </div>
                          <p class="text-center">Purchase Report</p>
                        </a>
                    </div>

                    <div class="col">
                        <a href="{% url 'shop-report' %}" class="card gray">
                             <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">see report...</p>
                          </div>
                          <p class="text-center">Shop Report</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'product-report' %}" class="card yellow">
                          <div class="overlay"></div>
                          <div class="circle">
                              <p class="text-center">see report...</p>
                          </div>
                          <p class="text-center">Product Report</p>
                        </a>
                    </div>
                  </div>

              </div>
            </div>
          </div>
      </div>
      {% endblock content %}


    {% block pageScripts %}
    <script src="{% static 'src/plugins/src/apex/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/assets/js/dashboard/dash_2.js' %}"></script>
    {% endblock pageScripts %}
