{% extends "base.html" %}
{% load static %}

    {% block pageStyles %}
    <link href="{% static 'src/plugins/src/apex/apexcharts.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/light/components/list-group.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/light/dashboard/dash_2.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'src/assets/css/dark/components/list-group.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/dark/dashboard/dash_2.css' %}" rel="stylesheet" type="text/css" />
    {% endblock pageStyles %}


      {% block content %}
      <div class="layout-px-spacing">
          <div class="middle-content container-xxl p-0">
            <div class="row layout-top-spacing">
              <div
                class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"
              >
                <div class="widget widget-chart-one">
                  <div class="widget-heading">
                    <h5 class="">Dashboard</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      {% endblock content %}


    {% block pageScripts %}
    <script src="{% static 'src/plugins/src/apex/apexcharts.min.js' %}"></script>
    <script src="{% static 'src/assets/js/dashboard/dash_2.js' %}"></script>
    {% endblock pageScripts %}
