{% extends 'ecommerce/base.html' %}{% load static %}{% load humanize %}{% block content %}

<section class="py-4">
    <div class="container">
        <form action="" id="purchase-form" data-product-url="{% url 'ajax_load_damage_product' %}">
            <input type="hidden" name="id" value="{{purchase.id}}">
            <input type="hidden" name="code" value="{% if purchase.code  %}{{purchase.code}}{% else %}generate{% endif %}">
            <input type="hidden" name="status" value="{% if purchase.status  %}{{purchase.status}}{% else %}0{% endif %}">
            <input type="hidden" name="payment" value="{% if purchase.payment  %}{{purchase.payment}}{% else %}0{% endif %}">
            <input type="hidden" name="total_amount" value="{% if purchase.total_amount  %}{{purchase.total_amount}}{% else %}0{% endif %}">
            <div class="card rounded-0 mb-3">
<!--                <div class="card-header">-->
<!--                    <div class="card-title py-1">Client Details</div>-->
<!--                </div>-->
                <div class="card-body">
                    <div class="container-fluid">
                        {% if purchase.code %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="" class="control-label">Transaction Code</label>
                                <div class="h5"><b>{{purchase.code}}</b></div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="note" class="control-label">Note</label>
                                <input type="text" class="form-control form-control-sm rounded-0" name="note" id="note" value="{{purchase.note}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card rounded-0 mb-3">
                <div class="card-header">
                    <div class="card-title py-1">Item List</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row align-items-end">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label for="brand" class="control-label">Brand</label>
                                  <select name="brand" id="brand" class="form-select form-control-sm rounded-0">
                                      <option value="" disabled selected></option>
                                      {% if purchase.brand %}
                                      <option selected value="{{purchase.brand.pk}}">{{purchase.brand}}</option>
                                      <option>-----Please Select From Below-----</option>
                                      {% endif %}
                                      {% for item in brand %}
                                      <option value="{{item.pk}}">{{item.name}}</option>
                                      {% endfor %}
                                  </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label for="products" class="control-label">Products</label>
                                <select id="products" class="form-control form-control-sm rounded-0">
                                    <option value="" disabled selected></option>
                                    {% for product in products %}
                                    <option value="{{product.pk}}" data-price = "{{product.buy}}" data-available = "{{product.available}}">{{product.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-sm rounded-0 bg-gradient bg-primary" type="button" id="add_product"><i class="fa fa-plus"></i> Add Product</button>
                            </div>
                        </div>
                        <div class="clear-fix mt-2"></div>
                        <table class="table table-bordered" id="product_list">
                            <colgroup>
                                <col width="5%">
                                <col width="35%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="p-1 text-center"></th>
                                    <th class="p-1 text-center">Product Name</th>
                                    <th class="p-1 text-center">Unit Price</th>
                                    <th class="p-1 text-center">Quantity</th>
                                    <th class="p-1 text-center">Free</th>
                                    <th class="p-1 text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pitem in pitems %}
                                <tr>
                                    <td class="px-2 py-1 align-middle text-center">
                                        <input type="hidden" name="product_id[]" value="{{pitem.product.id}}">
                                        <input type="hidden" name="product_price[]" value="{{pitem.buy}}">
                                        <button class="btn btn-outline-danger btn-sm rounded-0 rem-product" type="button"><i class="fa fa-times"></i></button>
                                    </td>
                                    <td class="px-2 py-1 align-middle product_type">{{pitem.product.name}}</td>
                                    <td class="px-2 py-1 align-middle text-end product_price">{{pitem.buy|floatformat}}</td>
                                    <td class="px-2 py-1 align-middle">
                                        <input type="number" min="1" value="{{pitem.quantity|floatformat}}" class="form-control form-control-sm rounded-0 text-center" name="product_quantity[]" required>
                                    </td>
                                    <td class="px-2 py-1 align-middle">
                                        <input type="number" min="0" value="{{pitem.free_quantity|floatformat}}" class="form-control form-control-sm rounded-0 text-center" name="product_free_quantity[]" required>
                                    </td>
                                    <td class="px-2 py-1 align-middle product_total text-end">{{pitem.total_amount|floatformat}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center" colspan="5">Total</th>
                                    <th class="text-end sub-total-product">0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card rounded-0 mb-3">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-end align-items-center">
                        <div class="col-auto">
                            <h4 class="fw-bolder text-muted pe-2">Grand Total:</h4>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                            <h4 class="fw-bolder pe-2 gtotal">{% if purchase.total_amount %}{{purchase.total_amount|floatformat:2|intcomma}}{% else %}0.00{% endif %}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer py-1 text-center">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" id="pay_later">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>

<noscript id="product-clone">
    <tr>
        <td class="px-2 py-1 align-middle text-center">
            <input type="hidden" name="product_id[]" value="">
            <input type="hidden" name="product_price[]" value="">
            <button class="btn btn-outline-danger btn-sm rounded-0 rem-product" type="button"><i class="fa fa-times"></i></button>
        </td>
        <td class="px-2 py-1 align-middle product_type"></td>
        <td class="px-2 py-1 align-middle text-end product_price">0.00</td>
        <td class="px-2 py-1 align-middle">
            <input type="number" min="1" value="1" class="form-control form-control-sm rounded-0 text-center" name="product_quantity[]" required>
        </td>
        <td class="px-2 py-1 align-middle">
            <input type="number" min="0" value="0" class="form-control form-control-sm rounded-0 text-center" name="product_free_quantity[]" required>
        </td>
        <td class="px-2 py-1 align-middle product_total text-end">0.00</td>
    </tr>
</noscript> {% endblock content %} {% block pageScripts %}
<script>
    function calc_total() {
        var sub_product = 0
        var gtotal = 0
        $('#product_list tbody tr').each(function() {
            var buy = $(this).find('[name="product_price[]"]').val()
            var qty = $(this).find('[name="product_quantity[]"]').val()
            var free = $(this).find('[name="product_free_quantity[]"]').val()
            qty = qty > 0 ? qty : 0;
            buy = buy > 0 ? buy : 0;
            sub_product += parseFloat(parseFloat(qty) * parseFloat(buy))
            gtotal += parseFloat(parseFloat(qty) * parseFloat(buy))
            $(this).find('.product_total').text(parseFloat(parseFloat(qty) * parseFloat(buy)).toLocaleString('en-US'))
        })
        $('.sub-total-product').text(parseFloat(sub_product).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }))
        $('[name="total_amount"]').val(gtotal)
        $('.gtotal').text(parseFloat(gtotal).toLocaleString('en-US', {
            style: 'decimal',
            maximumFractionDigits: 2,
            minimumFractionDigits: 2
        }))
        $
    }
    $(function() {
        calc_total()
        $('#brand').select2({
            placeholder: "Please Select Brand Here",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-0"
        })
        $('#products').select2({
            placeholder: "Please Select Products Here",
            width: "100%",
            selectionCssClass: "form-control form-control-sm rounded-0"
        })

        $('#pay_later').click(function() {

            $('#purchase-form').submit()
        })

        $('#product_list tbody').find('[name="product_quantity[]"]').on('input change', function() {
            calc_total()
        })
        $('#product_list tbody').find('.rem-product').click(function() {
            if (confirm("Are you sure to remove this item?") == true) {
                $(this).closest('tr').remove()
                calc_total()
            }
        })

        $('#add_product').click(function() {
            var pid = $('#products').val()
            if (pid < '1') {
                return false
            }
            var buy = $('#products option[value="' + pid + '"]').attr('data-price')
            var max = $('#products option[value="' + pid + '"]').attr('data-available')
            var product_name = $('#products option[value="' + pid + '"]').text()
            var tr = $($('noscript#product-clone').html()).clone()
            tr.find('.product_type').text(product_name)
            tr.find('.product_price').text(parseFloat(buy).toLocaleString('en-US'))
            tr.find('.product_total').text(parseFloat(buy).toLocaleString('en-US'))
            tr.find('[name="product_id[]"]').val(pid)
            tr.find('[name="product_price[]"]').val(buy)

            $('#product_list tbody').append(tr)
            calc_total()
            $('#products').val('').trigger('change')
            tr.find('[name="product_quantity[]"]').on('input change', function() {
                calc_total()
            })
            tr.find('.rem-product').click(function() {
                if (confirm("Are you sure to remove this item?") == true) {
                    tr.remove()
                    calc_total()
                }
            })
        })
        $('#purchase-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }

            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-purchase' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.replace('{% url "view-purchase" %}/' + resp.id)
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })

    // this one is for fetching product data
    $("#brand").change(function () {
      var url = $("#purchase-form").attr("data-product-url");  // get the url of the `load_damage_product` view
      var brandId = $(this).val();  // get the selected brand ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_purchase_product' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'brand': brandId       // add the brand id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#products").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>
{% endblock pageScripts %}