{% load static %}
      {% block sidebar %}
      <div class="sidebar-wrapper sidebar-theme">
        <nav id="sidebar">
          <div class="navbar-nav theme-brand flex-row text-center">
            <div class="nav-logo">
              <div class="nav-item theme-logo">
                <a
                  href="javascript:void(0);"
                >
                  <img
                    src="{% static 'src/assets/img/eque-heritage-hotel-and-resort-logo.png' %}"
                    class="flag-width"
                    alt="logo"
                  />
                </a>
              </div>
              <div class="nav-item theme-text">
                <a href="{% url 'dashboard' %}" class="nav-link"> EQUE </a>
              </div>
            </div>
            <div class="nav-item sidebar-toggle">
              <div class="btn-toggle sidebarCollapse">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-chevrons-left"
                >
                  <polyline points="11 17 6 12 11 7"></polyline>
                  <polyline points="18 17 13 12 18 7"></polyline>
                </svg>
              </div>
            </div>
          </div>
          <div class="shadow-bottom"></div>
          <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu {% if nav_bar == 'dashboard' %} active {% endif %}">
              <a
                href="#dashboard"
                data-bs-toggle="collapse"
                aria-expanded="true"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-home"
                  >
                    <path
                      d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                    ></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                  </svg>
                  <span>Dashboard</span>
                </div>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-right"
                  >
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </div>
              </a>
              <ul
                class="collapse submenu list-unstyled {% if nav_bar == 'dashboard' %} show {% endif %}"
                id="dashboard"
                data-bs-parent="#accordionExample"
              >
                <li>
                  <a href="{% url 'dashboard' %}"> Analytics </a>
                </li>
              </ul>
            </li>

            <li class="menu menu-heading">
              <div class="heading">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-minus"
                >
                  <line x1="5" y1="12" x2="19" y2="12"></line></svg
                ><span>DATASETS</span>
              </div>
            </li>

            <li class="menu {% if nav_bar == 'brand_list' or nav_bar == 'manage_brand' or nav_bar == 'package_list' or nav_bar == 'manage_package' or nav_bar == 'unit_sets' or nav_bar == 'manage_unit_set' or nav_bar == 'unit_values' or nav_bar == 'manage_unit_value' %} active {% endif %}">
              <a
                href="#ecommerce"
                data-bs-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-box"
                  >
                    <path
                      d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                    ></path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                  </svg>
                  <span>Product Set</span>
                </div>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-right"
                  >
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </div>
              </a>
              <ul
                class="collapse submenu list-unstyled {% if nav_bar == 'brand_list' or nav_bar == 'manage_brand' or nav_bar == 'package_list' or nav_bar == 'manage_package' or nav_bar == 'unit_sets' or nav_bar == 'manage_unit_set' or nav_bar == 'unit_values' or nav_bar == 'manage_unit_value' %} show {% endif %}"
                id="ecommerce"
                data-bs-parent="#accordionExample"
              >
                <li class="{% if nav_bar == 'brand_list' or nav_bar == 'manage_brand' %} active {% endif %}">
                  <a href="{% url 'brand-page' %}"> Brand </a>
                </li>
                <li class="{% if nav_bar == 'package_list' or nav_bar == 'manage_package' %} active {% endif %}">
                  <a href="{% url 'package-page' %}"> Package </a>
                </li>
                <li class="{% if nav_bar == 'unit_sets' or nav_bar == 'manage_unit_set' %} active {% endif %}">
                  <a href="{% url 'unit-set-page' %}"> Unit Set </a>
                </li>
                <li class="{% if nav_bar == 'unit_values' or nav_bar == 'manage_unit_value' %} active {% endif %}">
                  <a href="{% url 'unit-value-page' %}"> Unit Value </a>
                </li>
              </ul>
            </li>

            <li class="menu {% if nav_bar == 'product_list' or nav_bar == 'manage_product' %} active {% endif %}">
              <a
                href="{% url 'product-page' %}"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-file-plus"
                  >
                    <path
                      d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                    ></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="12" y1="18" x2="12" y2="12"></line>
                    <line x1="9" y1="15" x2="15" y2="15"></line>
                  </svg>
                  <span>Product</span>
                </div>
              </a>
            </li>

            <li class="menu {% if nav_bar == 'purchase_list' or nav_bar == 'manage_purchase' or nav_bar == 'view_purchase' %} active {% endif %}">
              <a
                href="{% url 'purchase-page' %}"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-shopping-cart"
                  >
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path
                      d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                    ></path>
                  </svg>
                  <span>Purchase</span>
                </div>
              </a>
            </li>

            <li class="menu {% if nav_bar == 'sell_list' or nav_bar == 'manage_sell' or nav_bar == 'view_sell' %} active {% endif %}">
              <a
                href="{% url 'sell-page' %}"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-dollar-sign"
                  >
                    <line x1="12" y1="1" x2="12" y2="23"></line>
                    <path
                      d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
                    ></path>
                  </svg>
                  <span>Sell</span>
                </div>
              </a>
            </li>

            <li class="menu {% if nav_bar == 'user_list' or nav_bar == 'new_user' %} active {% endif %}">
              <a
                href="#invoice"
                data-bs-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em" height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    ><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/>
                      <circle cx="9" cy="7" r="4"/>
                      <path d="M23 21v-2a4 4 0 0 0-3-3.87m-4-12a4 4 0 0 1 0 7.75"/>
                    </g>
                  </svg>
                  <span>User</span>
                </div>
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-right"
                  >
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </div>
              </a>
              <ul
                class="collapse submenu list-unstyled {% if nav_bar == 'user_list' or nav_bar == 'new_user' %} show {% endif %}"
                id="invoice"
                data-bs-parent="#accordionExample"
              >
                <li class="{% if nav_bar == 'user_list' %} active {% endif %}">
                  <a href="{% url 'all-users' %}"> List </a>
                </li>
                <li class="{% if nav_bar == 'new_user' %} active {% endif %}">
                  <a href="{% url 'register' %}"> Add </a>
                </li>
              </ul>
            </li>

            <li class="menu menu-heading">
              <div class="heading">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-minus"
                >
                  <line x1="5" y1="12" x2="19" y2="12"></line></svg
                ><span>USER INTERFACE</span>
              </div>
            </li>

            <li class="menu {% if nav_bar == 'profile' %} active {% endif %}">
              <a
                href="{% url 'profile' %}"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <div class="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  >
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    >
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
                      <circle cx="12" cy="7" r="4"/>
                    </g>
                  </svg>
                  <span>Profile</span>
                </div>
              </a>
            </li>

          </ul>
        </nav>
      </div>
      {% endblock sidebar %}
