{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block pageStyles %}
    <link rel="{% static 'stylesheet" href="src/plugins/src/font-icons/fontawesome/css/regular.css' %}">
    <link rel="{% static 'stylesheet" href="src/plugins/src/font-icons/fontawesome/css/fontawesome.css' %}">

    <link href="{% static 'src/assets/css/light/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/light/components/font-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'src/assets/css/dark/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'src/assets/css/dark/components/font-icons.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/src/tomSelect/tom-select.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/css/light/tomSelect/custom-tomSelect.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/plugins/css/light/tomSelect/custom-tomSelect.css' %}">
{% endblock pageStyles %}

{% block content %}
            <div class="container">
                <div class="container">

                    <!-- BREADCRUMB -->
                    <div class="page-meta">
                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Sell</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- /BREADCRUMB -->

                    <div class="row mt-2">

                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Add Sell</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area text-center">
                                    <form action="" id="sell-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{sell.id}}">
                                        <input type="hidden" name="code" value="{% if sell.code  %}{{sell.code}}{% else %}generate{% endif %}">
                                        <input type="hidden" name="status" value="{% if sell.status  %}{{sell.status}}{% else %}0{% endif %}">
<!--                                        <input type="hidden" name="total_amount" value="{% if sell.total_amount  %}{{sell.total_amount}}{% else %}0{% endif %}">-->
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <div class="card-title py-1">Transaction Details</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="container-fluid">
                                                    <div class="row text-start">
                                                        {% if sell.code %}
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label class="control-label">Transaction Code</label>
                                                            <div class="h5"><b>{{sell.code}}</b></div>
                                                        </div>
                                                        {% endif %}
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label for="client" class="form-label ">Client</label>
                                                            <select id="client" name="client" class="form-select form-select-lg">
                                                                <option value="">Choose...</option>
                                                                {% if sell.client == '1' %}
                                                                <option selected value="1">Resort</option>
                                                                {% else %}
                                                                <option value="1">Resort</option>
                                                                {% endif %} {% if sell.client == '2' %}
                                                                <option value="2" selected>Restaurant</option>
                                                                {% else %}
                                                                <option value="2">Restaurant</option>
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <div class="card-title py-1">Sell Item List</div>
                                            </div>
                                            <div class="card-body">
                                                <div class="container-fluid">
                                                    <div class="row align-items-end text-start">
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                            <label for="products" class="control-label">Products</label>
                                                            <select id="products" class="form-select form-select-lg">
                                                                <option value="" disabled selected></option>
                                                                {% for product in products %}

                                                                <option value="{{product.pk}}" data-unit="{{product.value}}" data-buy="{{product.buy_price}}" data-price = "{{product.sell_price}}" data-available = "{{product.available}}" data-brand="{{product.brand}}">{{product.name}}</option>

                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                            <button class="btn btn-primary btn-sm-0 bg-gradient bg-primary" type="button" id="add_product"><i class="fa fa-plus"></i> Add Product</button>
                                                        </div>
                                                    </div>
                                                    <div class="clear-fix mt-2"></div>
                                                    <table class="table table-bordered" id="product_list">
                                                        <colgroup>
                                                            <col width="5%">
                                                            <col width="25%">
                                                            <col width="10%">
                                                            <col width="10%">
                                                            <col width="15%">
                                                            <col width="10%">
                                                            <col width="15%">
                                                            <col width="10%">
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th class="p-1 text-center"></th>
                                                                <th class="p-1 text-center">Product Name</th>
                                                                <th class="p-1 text-center">Unit</th>
                                                                <th class="p-1 text-center">Buy</th>
                                                                <th class="p-1 text-center">Price</th>
                                                                <th class="p-1 text-center">Available</th>
                                                                <th class="p-1 text-center">Quantity</th>
                                                                <th class="p-1 text-center">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for pitem in pitems %}
                                                            <tr>
                                                                <td class="px-2 py-1 align-middle text-center">
                                                                    <input type="hidden" name="product_id[]" value="{{pitem.product.id}}">
                                                                    <input type="hidden" name="product_unit[]" value="{{pitem.unit_value}}">
                                                                    <button class="btn btn-outline-danger btn-sm rem-product" type="button"><i data-feather="x"></i><span class="icon-name">x</span></button>
                                                                </td>
                                                                <td class="px-2 py-1 align-middle product_type">{{pitem.product.name}}</td>
                                                                <td class="px-2 py-1 align-middle text-center product_unit">{{pitem.unit_value}}</td>
                                                                <td class="px-2 py-1 align-middle text-end product_buy">{{pitem.buy|floatformat}}</td>
                                                                <td class="px-2 py-1 align-middle text-end">
                                                                    <input type="number" step="0.01" name="product_price[]" value="{{pitem.price}}" class="form-control form-control-sm text-center">
                                                                </td>
                                                                <td class="px-2 py-1 align-middle text-end  product_available">{{pitem.available}}</td>
                                                                <td class="px-2 py-1 align-middle">
                                                                    <input type="number" min="1" value="{{pitem.quantity|floatformat}}" class="form-control form-control-sm text-center" name="product_quantity[]" required>
                                                                </td>
                                                                <td class="px-2 py-1 align-middle product_total text-end">{{pitem.total_amount|floatformat}}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th class="text-center" colspan="7">Total</th>
                                                                <th class="text-end sub-total-product">0.00</th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="d-flex w-100 justify-content-end align-items-center">
                                                    <div class="col-auto">
                                                        <h4 class="fw-bolder text-muted pe-2">Grand Total:</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
<!--                                                        <h4 class="fw-bolder pe-2 gtotal">{% if sale.total_amount %}{{sale.total_amount|floatformat:2|intcomma}}{% else %}0.00{% endif %}</h4>-->
                                                        <input type="number" step="any" class="form-control form-control-sm text-end gtotal" id="total_amount" name="total_amount" value="{% if sell.total_amount %}{{sell.total_amount|floatformat:2}}{% else %}0{% endif %}" required readonly>
                                                    </div>
                                                </div>

                                                <div class="d-flex w-100 justify-content-end align-items-center">
                                                    <div class="col-auto">
                                                        <h4 class="fw-bolder text-muted pe-2">Paid Amount:</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                                                        <input type="number" step="any" class="form-control form-control-sm text-end" id="paid_amount" name="paid" value="{% if sell.paid %}{{sell.paid|floatformat:2}}{% else %}0{% endif %}" required>
                                                    </div>
                                                </div>

                                                <div class="d-flex w-100 justify-content-end align-items-center">
                                                    <div class="col-auto">
                                                        <h4 class="fw-bolder text-muted pe-2">Due Amount:</h4>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-end">
                                                        <input type="number" step="any" class="form-control form-control-sm text-end" id="due_amount" name="due" value="{% if sell.due %}{{sell.due|floatformat:2}}{% else %}0{% endif %}" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer py-1 text-center">
<!--                                                <button class="btn btn-primary btn-sm-0 bg-gradient bg-primary" type="button" id="pay_later">Pay Later</button>-->
                                                <button class="btn btn-success btn-sm-0 bg-gradient bg-success" id="sell-submit-btn" form="sell-form"><i class="fa fa-save"></i> Save Now</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <noscript id="product-clone">
                <tr>
                    <td class="px-2 py-1 align-middle text-center">
                        <input type="hidden" name="product_id[]" value="">
                        <input type="hidden" name="product_unit[]" value="">
                        <button class="btn btn-outline-danger btn-sm rem-product" type="button"><i data-feather="x"></i><span class="icon-name">x</span></button>
                    </td>
                    <td class="px-2 py-1 align-middle product_type"></td>
                    <td class="px-2 py-1 align-middle text-center product_unit"></td>
                    <td class="px-2 py-1 align-middle text-center product_buy"></td>
                    <td class="px-2 py-1 align-middle text-end">
                        <input type="number" step="0.01" name="product_price[]" value="" class="form-control form-control-sm text-center">
                    </td>
                    <td class="px-2 py-1 align-middle text-center product_available"></td>
                    <td class="px-2 py-1 align-middle">
                        <input type="number" min="1" value="1" class="form-control form-control-sm text-center" name="product_quantity[]" required>
                    </td>
                    <td class="px-2 py-1 align-middle product_total text-end">0.00</td>
                </tr>
            </noscript>

{% endblock content %}

{% block pageScripts %}
    <script src="{% static 'src/plugins/src/highlight/highlight.pack.js' %}"></script>
    <script src="{% static 'src/assets/js/scrollspyNav.js' %}"></script>

    <script src="{% static 'src/plugins/src/tomSelect/tom-select.base.js' %}"></script>
    <script src="{% static 'src/plugins/src/tomSelect/custom-tom-select.js' %}"></script>

    <script src="{% static 'src/plugins/src/font-icons/feather/feather.min.js' %}"></script>

    <!-- START BUSINESS LOGIC SCRIPTS -->
    <script src="{% static 'src/assets/js/ecommerce/manage_sell.js' %}"></script>
    <!-- END BUSINESS LOGIC MANDATORY SCRIPTS -->

{% endblock pageScripts %}
